###### Zwróć uwagę, że zainstalowałem i używam wirtualnego środowiska za pomocą pip.  
###### Żeby poniższy kod działał poprawnie, proszę o wpisanie "pipenv install" w terminalu, a następnie "pipenv shell"

### Importowanie Pandas

In [1]:
import pandas as pd

### Otworzenie pliku CSV

In [2]:
Surowe_Dane = pd.read_csv("./Zrodlo.csv")

In [3]:
Surowe_Dane.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,data scientist,na,4783,0

#### Usuniecie kolumny Job Description

In [4]:
Surowe_Dane.drop(columns=['Job Description'], inplace=True)

In [5]:
Surowe_Dane.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,36,1,0,0,0,0,data scientist,na,4783,0

##### Czyszczenie zbędnych znaków w kolumnie Company Name. "\n" może poźniej powodować pewne problemy w pliku Excela
##### Dodatkowo liczby po "\n" wydają się być numerami z kolumny rating, które nie powinny się tam znaleźć

In [6]:
##Próbuję oddzielić wiersze, w których Company Name zawiera i nie zawiera \n.
z_n = Surowe_Dane["Company Name"][Surowe_Dane["Company Name"].str.contains(r'\n')]
bez_n = Surowe_Dane["Company Name"][~Surowe_Dane["Company Name"].str.contains(r'\n')]

In [7]:
##Tutaj próbuję znaleźć, ile znaków powinno zostać usuniętych w każdej komórce, z wierszy, które zawierają \n
litery = (z_n.str.len() - z_n.str.find("\n"))

##Robiąc .unique() jestem w stanie zobaczyć, czy wszystkie nazwy mają na końcu zdania wartość \n, 
##czy też są to wartości w różnych miejscach w wierszach.
##Dodatkowo pokazuje mi to również, ile znaków muszę usunąć.
litery.unique()

array([4], dtype=int64)

In [8]:
##Na szczęście wszystkie wartości są równe 4, oznacza to, że dla wszystkich wierszy \n jest w tym samym miejscu, i
##tyle właśnie znaków musimy usunąć.

usuniete_n = Surowe_Dane["Company Name"][Surowe_Dane["Company Name"].str.contains(r'\n')].str[:-4]

##########Please Note###########
##Można było i należało to zrobić za pomocą .replace(), jednak po wypróbowaniu tej metody
##nie działała zgodnie z oczekiwaniami. Stąd powyższe podejście

In [9]:
##Po usunięciu \n i wszystkich niepotrzebnych znaków po jego prawej stronie, możemy po prostu
##mapować nowe wartości do istniejącej kolumny za pomocą indeksu.

Surowe_Dane["Company Name"] = Surowe_Dane["Company Name"].index.map(usuniete_n)

##### Dokonaliśmy wszystkich niezbędnych zmian, aby zapisać ten plik jako CSV i kontynuować w Excelu

In [10]:
Surowe_Dane.to_csv('./Surowe Dane - Wycz. w Pythonie.csv')